* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}
h1{
  text-align: center;
  background-image: url("01.jpeg");
  color: rgb(255, 255, 255);
  padding: 2rem 1rem;
  }
body {
  display: flex;
  height: 100vh;
  background-image: url("00.jpg");
  flex-direction: column;
  color: #fff;
}

.container {
  position: relative;
  max-width: 800px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.add {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.add > input[type="text"] {
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1rem;
  margin-right: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1.25rem;
  outline: none;
  background-color: #1f2937;
}

.add button {
  margin: 0 10px;
  background: none;
  color: #eb0e33;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #082fef, #dc143c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  transition: 0.4s;
}

.pending,
.completed {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffd700;
  background-image: linear-gradient(to right, #082fef, #dc143c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ol {
  list-style: none;
}

ol li {
  width: 100%;
  padding: 18px;
  margin: 5px 0;
  background: #1f2937;
  font-size: 22px;
  counter-increment: my-counter;
  border-radius: 1rem;
}

ol.completed li {
  background: #1f2937;
}

ol li::before {
  content: counter(my-counter);
  background: #231381;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  margin-right: 0.5rem;
}

li button {
  float: right;
  padding: 5px;
  font-size: 28px;
  line-height: 28px;
  margin-right: 15px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #d3d3d3;
}
